
.footer-main {
    text-align: center;
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 85px; 
    font-weight: 200
  }