

.mesa{
    background-image: url(mesa.jpg);
    object-fit: fill;
    background-repeat: repeat;
    margin: 3px 0px;
    padding: 1px 0px;
}

.curriculo{
    background-color: white;
    box-shadow: 1px 2px 5px black ;
    color: var(--cor-do-bg);
    margin: 10px
}



.curriculo h1, h2, h3{
    color: var(--cor-do-bg);
}

.curriculo h1, h2, h3{
    font-weight: bolder;
}

.curriculo h3{
    font-size: 16px
}

.curriculo p {
    color: #665;
    font-weight: 500;

}

.curriculo img{
    box-shadow: 1px 2px 2px #665 
}

.curriculo hr{
    text-decoration-color: black
}
.dados-pessoais  {

    /*  dividir em colunas quand for maior */
}

.sobre{
    
}

.educacao{

}

.resumo-qualificacoes{

}

experencias{

}