
/* nav header */
.navigation{
    background-color: var(--cor-do-bg);
    color:white;
    height: 50px;
    animation-name: navigation-nav ;
    animation-duration: 2s;
    box-shadow: 0 0 10px black;
}
.navigation ul{
    margin-top: 0px;
    list-style: none;
    padding-left: 0px;
    text-align: right;
    height: 50px;
}
.navigation li{
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
   line-height: 50px;
   font-size: 18px;
}
.navigation a {
    color: white;
    text-decoration: none;
}


.navigation a:hover {
    color: var(--cor-da-font-pri);
    text-decoration: none;
    transform: 2s;
    font-weight: bold;
}

li.active a:hover{
    color: black;
}

li.threeline-icon{
  display: none !important;  
}
li.active, li.active a{
    background: var(--cor-da-font-pri);
    color: black;
    font-size: 18px;
    font-weight: bold;

}



/* index // capa */
@media(max-width:460px){

    .navigation{
        background-color: var(--cor-do-bg);
        color:white;
        height: 50px;
        transition: 0.5s;

        /* 50 px para ficar no tamanho ideal */
    }
    .navigation li{
        /*  none para sumir */
        display: none; 
        transition: 4.5s;
    }
    .navigation li.threeline-icon{
        display: inline-block !important;
        width: 85%;
    }
    .navigation li {
        text-align: center
    }

    .navigation-toggle{
        background-color: var(--cor-do-bg);
       height: 200px;
       transition: 0.5s;
       
    /* 50 px para ficar no tamanho ideal */
    }
    .navigation-toggle li{
        border-bottom: none;
    /*  none para sumir */
       display: block; 
       animation-name: navigation-nav-toggle ;
       animation-duration: 0.6s;
       transition: 0.5s;

    }
}

@keyframes navigation-nav {
    0% {opacity: 0; transform: translate(-30px, 0px)}
    50% {opacity: 0; transform: translate(-30px, 0px)}

    100% {opacity: 1; transform: translate(0px, 0px)}
}

@keyframes navigation-nav-toggle {
    0% {opacity: 0; }
    100% {opacity: 1; }
}