<div class=" contato">


  <h3>E-mail:</h3>
  <p>ciro.sda@gmail.com</p>

  <h3>Telefone:</h3>
  <p>(51) 99447-3223 </p>

  <h3>Redes Sociais:</h3>

  <div class="social-img">
    <a href="https://www.linkedin.com/in/ciro-stodulski-de-azevedo/" target="_blank">
      <div id="linkedin"></div>
    </a>

    <a href="https://github.com/CiroStodulski" target="_blank">
      <div id="github"></div>
    </a>
  </div>
  


</div>
<div class="frase">
  <p>"Quanto mair o desafio e a dificuldade, maior é a satisfação..."</p>
 </div>
