
#linkedin{
    background-image: url(linkedin.png);
    background-repeat: no-repeat;
    border-radius: 13px;
    padding-bottom: 52px;
    width: 51px;
    display: inline-block;
    margin-right: 10px;
    border: 5px solid white;
    box-shadow: 1px 5px 5px black;
}

#github{
    background-image: url(github-sign.png);
    background-repeat: no-repeat;
    border-radius: 14px;
    padding-bottom: 52px;
    width: 51px;
    display: inline-block;
    border: 5px solid white;
    box-shadow: 1px 5px 5px rgb(0, 0, 0);

}   


.contato{
    padding: 5px 5% 23px  5%;
    margin-top: 10px;
    background-color: var(--cor-da-font-pri);
    animation-name: contato-an;
    animation-duration: 1.5s;
    border-bottom: 40px  solid white;
}

.contato h3{
  
    color: black;
    font-weight: 100px;
    font-size: 16px;
    margin-bottom: 10px;
}

.contato h1{
    font-size: 19px;
    color: black;
    font-weight: bold;
    box-shadow: 20px 25px rgb(0, 0, 0);

}
.contato p{
    font-size: 19px;
    font-weight: 400;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    color: white;
    margin: 0;
}

.frase{
    position: relative;
    text-align: center;
    top: 140px;
}

.frase p{
    font-size: 15px;
    font-weight: 200px;
    color: white;
    z-index: 999px;
    animation-name: frase-an;
    animation-duration: 1s;
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
    text-shadow: 1px 1px gray;
}

@keyframes contato-an {
    0% {
        opacity: 0;
        transform: translate(0px, 400px);
    }
    100%  {
        opacity: 1;
        transform: translate(0px, 0px)
    }
}

@keyframes frase-an {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    90% {
        opacity: 0.9;
    }
    100%  {
        opacity: 1;
    }
}

