<div class="main curriculo">
  <div class="mesa">
    <div class="dados-pessoais">
      <h2>Ciro Stodulski de Azevedo</h2>
      <hr>

      <img src="assets/ciro-curriculo.png" alt="foto do ciro do curriculo">

      <p>Brasileiro,</p>
      <p>28 anos,</p>
      <p>Porto Alegre,</p>
      <p>Brasil</p>

    </div>
    <br>
    <div class="sobre">
      <h2>Sobre Mim</h2>
      <hr>

      <p>Sou uma pessoa que por mim, me acho muito gente boa, sério, além de gostar de tecnologias, eu gosto também de: Música,
        viagens, festas, videogame, academia, correr, dogs, seriados, comida e por aí vai.
      </p>

      <p>Bom, vai um resumo da minha experiência profissional que me levou até a 4all. Meu começo foi como técnico de redes
        de computadores onde foi meu primeiro contato com a área de TI, me tornei analista de suporte e com a minha curiosidade
        em programar acabei indo para área de desenvolvimento, profissionalmente como programador por onde passei, ajudei
        construir um sistema de intranet e um sistema de controle de frete, criei um servidor api e uma aplicação mobile
        para aprovação de pedidos com base do ERP Logix, na minha última atuação ajudei na construção do e-commerce da rede
        quero-quero, que por sinal é pra entrar em produção no final desse mês ou no início de agosto.</p>

      <p>Sou formado em analise de desenvolvimento de sistema pelo senac-rs, sou viciado em cursos do alura, udemy e devmedia
        da vida. Provavelmente ano que vem irei começar uma pós graduação mas ainda não me decidi em que curso, também estou
        realizando curso inglês online, minha meta é poder se virar em qualquer cidade que tenha o inglês como seu idioma
        principal.</p>
    </div>

    <div class="educacao">
      <h2>Educação</h2>
      <hr>

      <p>Curso Técnico de Informática – Alcides Maya - RS</p>

      <p>Curso Pós Técnico de Especialização em Redes - Alcides Maya - RS</p>

      <p>Analise e Desenvolvimento de Sistema da Informação - Faculdade SENAC - Porto Alegre / RS</p>
    </div>

    <div class="resumo-qualificacoes">
      <h2>Resumo das Qualificações</h2>
      <hr>

      <h3>Backend </h3>

      <p>Node js, Java, PHP, C#</p>

      <h3>Framework </h3>

      <p>Angular js, Angular Ionic, React, Redux, Express, Vue</p>

      <h3>Banco de Dados</h3>

      <p>Psql, Sql, Mysql, MongoDb</p>

      <h3>Testes </h3>

      <p>Selenium, Mocha, Tape</p>

      <h3>Versionador </h3>

      <p>Git, Svn</p>

      <h3>Redes de computadores </h3>

      <p>protocolo, portas e ativos de rede</p>

      <h3>Sistemas Operacionais </h3>

      <p>Linux, Windows</p>

      <h3>Ferramentas </h3>

      <p>Nagios, MonitoraIT</p>
    </div>

    <div class="idiomas">
      <h2>Idiomas</h2>
      <hr>
      <p>Português (Nativo)</p>
      <p>Inglês (Intermediario)</p>
    </div>

    <div class="experencias">
      <h2>Experiência</h2>
      <hr>

      <h3>Meta</h3>

      <p>Desenvolvedor Node.js - Atual</p>

      <h3>Granflor - Gestão de Empreendimentos Florestais</h3>

      <p>Analista de Programação Web - 10 meses</p>

      <h3>Cabilog </h3>

      <p>Analista de Programação Web - 1 ano 1 mês</p>

      <h3>Netwall Tecnologia LTDA </h3>

      <p>Analista de Suporte - 1 ano 10 meses</p>

      <h3>Total Service Telecom </h3>

      <p>Técnico em Redes de Telecomunicações - 2 anos 11 meses</p>
    </div>

  </div>
</div>