/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #272733;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --cor-da-font-sec: #A9BDDC;
    --cor-da-font-pri : #D4C65C;
    --cor-do-bg: #272733;
}